@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Palanquin:400,700|Titillium+Web&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Steam Engine</title>
</head>

<body>
    <section class="grid-container">
        <section class="logo">
            <a asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt="logo" /></a>
        </section>

        <section class="item1">
            <header>
                <h1>Steam Engine</h1>
            </header>
        </section>
        <section class="item3">
            <form method="get" action="javascript:steamIdFinder();">
                <label for="steamID"></label>
                <input type="text" name="Steam64Id" id="steamID" placeholder="Steam 64 ID"/>
                <input type="submit" value="Submit" class="button"/>
                <input type="button" value="Reset" onclick="resetGames();" />
            </form>
        </section>
        <section class="item3">
            <section id="gameRoot"></section>
        </section>
    </section>
    <script src="~/js/scripts.js"></script>
</body>
</html>
