<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Steam Engine</title>
</head>

<body>
    <div class="grid-container">
        <div class="item1">
            <header>
                <h1>Steam Engine</h1>
            </header>
        </div>
        <div class="item2">
            <section>
                <h2>Steam Engine</h2>
                <p>Steam Engine</p>
            </section>
        </div>
        <div class="item3">
            <section id="gameRoot"></section>
        </div>
        <div class="item4">
            <footer>
                <p>Copyright Steam Engine</p>
            </footer>
        </div>
    </div>
    <script src="~/js/scripts.js"></script>
</body>
</html>
