@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Palanquin:400,700|Titillium+Web&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Steam Engine</title>
</head>

<body>
    <section class="grid-container">
        <section class="logo">
            <img src="~/images/logo.png" alt="logo" />
        </section>

        <section class="item1">
            <header>
                <h1>Steam Engine</h1>
            </header>
        </section>

        <section class="item3">
            <ul id="item-menu">
                <li>
                    <a class="item-menu-link" asp-controller="RandomGame" asp-action="Index">Get random game</a>
                </li>
                <li>
                    <a class="item-menu-link" asp-controller="AddGame" asp-action="Index">Add custom game</a>
                </li>
            </ul>
        </section>
    </section>
    <a href="https://steamid.io/" target="_blank" id="steam-id-link">Find your Steam 64 ID</a>
    <script src="~/js/scripts.js"></script>
</body>
</html>
