@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Add Custom Game</title>
    <link href="https://fonts.googleapis.com/css?family=Palanquin:400,700|Titillium+Web&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>

    <div id="game-container" class="grid-container">
        <div class="item1">
            <header>
                <h1>Steam Engine</h1>
            </header>
        </div>

        <div class="logo">
            <img src="~/images/logo.png" alt="logo" />
        </div>



        <!--Add Custom Game Section-->
        <div class="item1">
            <h3 class="game-title">@ViewData["Name"]</h3>
            <img src="@ViewData["AppId"]" class="game-poster" />
            <p>@ViewData["Description"]</p>
        </div>

        <div class="item3">
            <form method="post" asp-controller="AddGame" asp-action="Index">
                <div>
                    <input type="text" placeholder="Steam AppId" name="AppId" />
                    <br />
                </div>
                <div>
                    <input type="text" placeholder="Name" name="Name" />
                    <br />
                </div>
                <div>
                    <input type="text" placeholder="Description" name="Description" />
                    <br />
                </div>
                <div>
                    <input class="button" type="submit" value="ADD GAME" />
                </div>
            </form>
            <div class="item4">
                <footer>
                    <p>Copyright Steam Engine</p>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>
